thead input {
    width: 100%;
}

thead {
    width: 100%;
    display: block ruby;
}

tbody {
    text-align: center;
    width: 100%;
    display: block;
    /* overflow: scroll; */
}

input {
    width: 100%;
}

th {
    width: 200px;
    height: 60px;
    padding: 2px;
    margin: 15px;
    border: 1px solid black;
}

tr {
    text-align: center;
    width: 200px;
    height: 60px;
    padding: 2px;
    margin: 15px;
    border: 1px solid black;
}

td {
    text-align: center;
    width: 200px;
    height: 60px;
    padding: 2px;
    margin: 15px;
    border: 1px solid black;
}